# configs
configs/.env

# deployment
deployment/aws/.terraform
deployment/aws/terraform.tfstate
deployment/aws/.terraform.tfstate.lock.info
deployment/aws/terraform.tfstate.backup

# web
web/img

# others
tmp
wecircles
