{{define "content"}}
<h2>WeCircleについて</h2>
<p>大学生の新歓のためのSNSアプリです。</p>
<p>
  ユーザーとしては、「新入生」と「新歓を行うサークル」の大きく2種類を想定しています。
</p>
<p>新歓を分解すると以下の4つのステップに分けられます。</p>
<p>WeCirclesはこの中の【発見】と【交流】までをWeb上で完結させます。</p>
<p>
  これにより、コロナ渦でも多くの１年生とサークルが接点を持つことができるプラットフォームを目指します。
</p>
<img style="width: 100%" src="static/img/shinkan_flow.png" alt="新歓の流れ" />
<br />
<h3>機能紹介</h3>
<p>主な機能は以下のようなものがあります。</p>
<ul>
  <li>投稿</li>
  <li>ブース作成・参加</li>
  <li>ブース内のチャット</li>
</ul>
<p>各機能についてのオススメの使い方は、</p>
<p>【投稿】</p>
<p>新入生・・・サークルのブースで交流してみた感想など、口コミとして使う</p>
<p>新歓を行うサークル・・・自分のサークルの宣伝などのビラとして使う</p>
<p>【ブース作成・参加】、【ブース内のチャット】</p>
<p>
  新入生・・・新入生同士の水入らずのグループを作って仲良くなる。サークルが作ったブースに参加して先輩たちと喋ってみる。
</p>
<p>
  新歓を行うサークル・・・自分のサークルのブースを作り、ブース内限定情報を公開したり、チャットで新入生と交流したりして距離を縮める。
</p>
{{end}}
