{{define "content"}}
<!-- <div class="box">
  <h4 class="font-weight-bold">サークル</h4>
      <a class="btn btn-success" href="/circle/manage">自分のサークル</a>
      <a class="btn btn-outline-success disabled" href="/circle/memberships">参加中のサークル</a>
</div> -->

  {{$imagePathPrefix := .ImagePathPrefix}} {{$myUserID := .MyUser.Id}}
  <br />
  {{if.Users}}
  <div class="container">
    <p>サークルメンバー：{{.NumberOfMemberships}}人</p>
    {{range .Users}}
    <div>
      <div class="mb-5">
        <a href="/user?id={{.UserIdStr}}">
          {{if eq .ImagePath "default.png"}}
          <img
            src="{{$imagePathPrefix}}/img/default.png"
            alt="user_profile_image"
            style="
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            "
          />
          {{else}}
          <img
            src="{{$imagePathPrefix}}/img/user{{.Id}}/{{.ImagePath}}"
            alt="user_profile_image"
            style="
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            "
          />
          {{end}}
        </a>
        {{if eq .Id $myUserID}}
        <p>{{.Name}}(管理者)</p>
        {{else}}
        <p>{{.Name}}</p>
        <p>
          <a
            class="btn btn-outline-danger"
            href="/circle/membership/delete/byowner?id={{.UserIdStr}}"
            >{{.Name}}さんを退会させる</a
          >
        </p>
        {{end}}
      </div>
    </div>
    {{end}} {{else}}
    <p>このブースのメンバーはまだいません。</p>
    {{end}}
  </div>
</div>
{{end}}
