{{define "content"}}
<div style="display: flex">
  <div class="box" style="width: 30%">
    <h2>サークル</h2>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/circle/manage">自分</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/circle/memberships">参加中</a>
      </li>
    </ul>
  </div>

  {{if eq .Circle.Name ""}}
  <div class="box">
    <a href="/circle/new" class="btn btn-outline-success"
      >サークルを新しく作る</a
    >
  </div>
  {{else}}
  <div class="box" style="width: 70%">
    <h3 class="mb-5 font-weight-bold">管理</h3>
    <a
      class="btn btn-outline-success"
      href="/circle?id={{.User.UserIdStr}}"
      style="float: right"
      >サークルを見る</a
    >
    <div>
      <label class="font-weight-bold">サークル画像</label>
      <p>
        {{if eq .Circle.ImagePath ""}}
        <img
          src="/static/img/default_thumbnail.jpg"
          alt="circle_default_image"
          style="
            width: 350px;
            height: 200px;
            border-radius: 5%;
            object-fit: cover;
          "
        />
        {{else}}
        <img
          src="/static/img/user{{.Circle.OwnerID}}/circles/mycircle/{{.Circle.ImagePath}}"
          alt="circle_image"
          style="
            width: 350px;
            height: 200px;
            border-radius: 5%;
            object-fit: cover;
          "
        />
        {{end}}
      </p>
    </div>

    <div>
      <label class="font-weight-bold">サークル名</label>
      <p>{{.Circle.Name}}</p>
    </div>

    <div>
      <label class="font-weight-bold">概要</label>
      <p>{{.Circle.Overview}}</p>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">カテゴリ</label>
      {{if eq .Circle.Category "tennis"}}
      <p>テニス</p>
      {{else if eq .Circle.Category "soccer"}}
      <p>サッカー</p>
      {{else if eq .Circle.Category "volunteer"}}
      <p>ボランティア</p>
      {{else if eq .Circle.Category "photo"}}
      <p>写真</p>
      {{else if eq .Circle.Category "basketball"}}
      <p>バスケットボール</p>
      {{else}}
      <p>その他</p>
      {{end}}
    </div>
    <a href="/circle/edit" class="btn btn-success mb-5 float-right">編集する</a>
    <div class="pt-5 border-top border-secondary" style="margin-top: 70px">
      <p class="font-weight-bold">メンバー一覧</p>
      <a href="/circle/manage/members" class="btn btn-outline-success"
        >メンバーを見る</a
      >
    </div>
  </div>
  {{end}}
</div>
{{end}}
