{{define "content"}} {{if .Circles}} {{range .Circles}}
<div class="card mx-auto mb-5">
  <a href="/circle?id={{.OwnerIDStr}}">
    {{if eq .ImagePath ""}}
    <img
      src="/static/img/default_thumbnail.jpg"
      style="width: 100%; height: 200px; object-fit: cover"
      alt="default thumbnail"
    />
    {{else}}
    <img
      src="/static/img/user{{.Owner.Id}}/circles/mycircle/{{.ImagePath}}"
      style="width: 100%; height: 200px; object-fit: cover"
      alt="default thumbnail"
    />
    {{end}}
    <div class="card-body">
      <h5 class="card-title">{{.Name}}</h5>
      <div style="width: 100%; overflow: hidden">
        <p
          class="card-text index-post-body"
          style="
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          "
        >
          {{.Overview}}
        </p>
      </div>
    </div>
    <div class="card-body">
      <a href="/user?id={{.OwnerIDStr}}">{{.OwnerIDStr}}</a>
    </div>
  </a>
</div>
{{end}} {{else}}
<p class="text-center">まだサークルがありません。</p>
<a href="/circle?id={{.User.UserIdStr}}" style="text-decoration: none"
  ><button type="submit" class="btn btn-outline-success btn-block">
    初めてのサークルを作りましょう！
  </button></a
>
{{end}} {{end}}
