{{define "content"}} {{if .User.ImagePath}}
<div style="position: absolute; top: 13px; right: 100px">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{if eq .User.ImagePath "default.png"}}
    <img
      src="/static/img/default.png"
      alt="user_profile_image"
      style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover"
    />
    {{else}}
    <img
      src="/static/img/user{{.User.Id}}/{{.User.ImagePath}}"
      alt="user_profile_image"
      style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover"
    />
    {{end}}
  </a>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/mypage">{{.User.Name}}</a>
    <a class="dropdown-item" href="/posts">記事</a>
    <a class="dropdown-item" href="/circle?id={{.User.UserIdStr}}">サークル</a>
    <a class="dropdown-item" href="/user/edit">プロフィール設定</a>
    <a class="dropdown-item" href="/logout">ログアウト</a>
  </div>
</div>
{{end}} {{range .Circles}}
<div class="card mx-auto mb-5">
  <a href="/circle?id={{.OwnerIDStr}}">
    {{if eq .ImagePath ""}}
    <img
      src="/static/img/default_thumbnail.jpg"
      style="width: 100%; height: 200px; object-fit: cover"
      alt="default thumbnail"
    />
    {{else}}
    <img
      src="/static/img/user{{.Owner.Id}}/circles/mycircle/{{.ImagePath}}"
      style="width: 100%; height: 200px; object-fit: cover"
      alt="default thumbnail"
    />
    {{end}}
    <div class="card-body">
      <h5 class="card-title">{{.Name}}</h5>
      <div style="width: 100%; overflow: hidden">
        <p
          class="card-text index-post-body"
          style="
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          "
        >
          {{.Overview}}
        </p>
      </div>
    </div>
    <div class="card-body">
      <a href="/user?id={{.OwnerIDStr}}">{{.OwnerIDStr}}</a>
    </div>
  </a>
</div>

{{end}} {{end}}
