{{define "content"}}

<div class="mb-5">
  <h4 class="font-weight-bold">ブース</h4>
      <a class="btn btn-success" href="/circle/manage">自分のブース</a>
      <a class="btn btn-outline-success" href="/circle/memberships">参加中のブース</a>
</div>

<h3>新しくブースを作る<span class="text-danger" style="font-size: 13px;"> <br/>※作れるブースは1人1つです。</span></h3>
<form action="/circle/create" method="post" enctype="multipart/form-data">

  <div class="form-group text-center my-5" style="height:250px">
    <div style="display: block; height: 200px;">
      <label for="image"
      >ブースのイメージ画像<span class="text-danger small"> 必須</span></label
    >
      <div style="height: 250px;">
        <img
          src="{{.ImagePathPrefix}}/img/default_thumbnail.jpg"
          alt="user_profile_image"
          style="width: 400px; height: 250px; object-fit: cover"
        />
      </div>
      <div style="height: 250px; position: relative; bottom: 250px;">
        <img
          id="preview"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="width: 400px; height: 250px; object-fit: cover"
        />
      </div>
      <div style="height:250px; position: relative; bottom: 500px;">
        <label
          for="image"
          style="width: 400px; height: 250px; object-fit: cover"
        >
          <i
          class="fas fa-image fa-4x"
          style="
            width: 400px;
            height: 250px;
            background-color: white;
            opacity: 0.4;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            color: black;
          "
        ></i>
          <input
            style="display: none"
            id="image"
            type="file"
            name="image"
            onChange="previewImage(this);"
            accept="image/*"
            required
          />
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name"
      >ブース名<span class="text-danger small"> 必須</span></label
    >
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="ブース名を入力してください。"
      required
    />
  </div>

  <div class="form-group">
    <label for="overview"
      >概要<span class="text-danger small"> 必須</span></label
    >
    <textarea
      type="text"
      name="overview"
      class="form-control auto-resize"
      style="line-height: 16px; white-space: prewrap"
      rows="15"
      required
    >
■なにをするサークルか
  例：写真好きが自分の写真を見せ合ったり、アドバイスしたりするサークルです

■活動方針や頻度
  例：サークルの掲示板で写真を見せ合ったり、Slackを使ったりして話します。掲示板への投稿頻度は月に4回以上、メンバーで写真を撮る会を3ヶ月に1回程度開きます！

■どんな人に来てほしいか
  例：カメラが好きな人ならどんな方でも構いません！ 一眼レフを持っている人だとうれしいです！

■どのように参加してほしいか
  例：ポジティブな活動を心がけてほしいです！見ているだけでも大丈夫です。</textarea
    >
  </div>

  <div class="form-group">
    <label for="category">カテゴリ<span class="text-danger small"> 必須</span></label></br>
    <select name="category">
        <option value="tennis">テニス</option>
        <option value="soccer">サッカー</option>
        <option value="volunteer">ボランティア</option>
        <option value="photo">写真</option>
        <option value="basketball">バスケットボール</option>
        <option value="other">その他</option>
    </select>
  </div>

  <div class="form-group">
    <label for="twitter"
      >Twitter連携</label
    >
    <input
      type="text"
      name="twitter"
      class="form-control"
      placeholder="例：@wecirclesの場合'wecircles'のみを入力"
    />
  </div>

  <button type="submit" class="btn btn-outline-success btn-block">
    作成する
  </button>
</form>

<a
  href="javascript:history.back();"
  class="btn btn-outline-secondary btn-block mt-3"
  >戻る</a
>
{{end}}
