{{define "content"}}

<div class="mb-5">
  <h4 class="font-weight-bold">ブース</h4>
      <a class="btn btn-success" href="/circle/manage">自分のブース</a>
      <a class="btn btn-outline-success" href="/circle/memberships">参加中のブース</a>
</div>

  {{if eq .Circle.Name ""}}
  <!-- <div class="box">
    <a href="/circle/new" class="btn btn-outline-success"
      >自分でサークルを新しく作る</a
    >
    <a href="/circles" class="btn btn-outline-success"
    >参加するサークルを見つける</a
  >
  </div> -->
<p class="text-center">まだブースを作成していません。</p>
<a href="/circle?id={{.User.UserIdStr}}" style="text-decoration: none"
  ><button type="submit" class="btn btn-outline-success btn-block">
    自分のブースを作りましょう！
  </button></a
>
{{else}}


  <div class="box" >
    <h3 class="mb-5 font-weight-bold">管理</h3>
    <a
      class="btn btn-outline-success"
      href="/circle?id={{.User.UserIdStr}}"
      style="float: right"
      >ブースを見る</a
    >
    <div>
      <label class="font-weight-bold">ブースのイメージ画像</label>
      <p>
        {{if eq .Circle.ImagePath ""}}
        <img
          src="{{.ImagePathPrefix}}/img/default_thumbnail.jpg"
          alt="circle_default_image"
          style="
            width: 350px;
            height: 200px;
            border-radius: 5%;
            object-fit: cover;
          "
        />
        {{else}}
        <img
          src="{{.ImagePathPrefix}}/img/user{{.Circle.OwnerID}}/circles/mycircle/{{.Circle.ImagePath}}"
          alt="circle_image"
          style="
            width: 350px;
            height: 200px;
            border-radius: 5%;
            object-fit: cover;
          "
        />
        {{end}}
      </p>
    </div>

    <div>
      <label class="font-weight-bold">ブース名</label>
      <p>{{.Circle.Name}}</p>
    </div>


    <label class="font-weight-bold">概要</label>
    <div class="cp_box">
      <input id="cp01" type="checkbox">
      <label for="cp01"></label>
      <div class="cp_container">
        <p style="white-space: pre-wrap; word-wrap: break-word">{{.Circle.Overview}}</p>
      </div>
    </div>


    <!-- <div style="width: 100%; overflow: hidden">
      <label class="font-weight-bold">概要</label>

      <p
        class="card-text index-post-body"
        style="
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        "
      >
        {{.Circle.Overview}}
      </p>
    </div> -->
    <br />
    <div class="form-group">
      <label class="font-weight-bold">カテゴリ</label>
      {{if eq .Circle.Category "tennis"}}
      <p>テニス</p>
      {{else if eq .Circle.Category "soccer"}}
      <p>サッカー</p>
      {{else if eq .Circle.Category "volunteer"}}
      <p>ボランティア</p>
      {{else if eq .Circle.Category "photo"}}
      <p>写真</p>
      {{else if eq .Circle.Category "basketball"}}
      <p>バスケットボール</p>
      {{else}}
      <p>その他</p>
      {{end}}
    </div>

    <div>
      <label class="font-weight-bold">TwitterID</label>
      <p>@{{.Circle.TwitterID}}</p>
    </div>
    <a href="/circle/edit" class="btn btn-success mb-5 float-right">編集する</a>
    <div class="pt-5 mb-5 border-top border-secondary" style="margin-top: 70px">
      <p class="font-weight-bold">メンバー一覧</p>
      <a href="/circle/manage/members" class="btn btn-outline-success"
        >メンバーを見る</a
      >
    </div>
  </div>
  {{end}}
</div>
{{end}}
