{{define "content"}}

<div class="bg-white container">
  <h3 style="text-align: center">{{.Circle.Name}}</h3>
  <div class="cp_box">
    <input id="cp01" type="checkbox" />
    <label for="cp01"></label>
    <div class="cp_container">
      <p style="white-space: pre-wrap; word-wrap: break-word">
        {{.Circle.Overview}}
      </p>
    </div>
  </div>
</div>
{{if .MembershipValid}} {{template "circle-navbar" .}}

<form action="/chat/create?id={{.Circle.OwnerIDStr}}" method="post">
  <div>
    <textarea
      type="text"
      name="body"
      class="form-control auto-resize"
      style="line-height: 16px; white-space: prewrap; border: 1px solid #25d366"
      rows="5"
      placeholder="サークルのみんなとお話してみませんか？"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn" style="color: white; background: #25d366">
    送信
  </button>
</form>
{{end}} {{ template "chats" .}} {{end}}
