{{define "content"}}

<div>
  <h2 class="text-center">{{.Name}}さんのマイページ</h2>
  <p>
    <a href="/user/edit">
      {{if eq .ImagePath "default.png"}}
      <!-- if user.ImagePath=="default.png" -->
      <img
        src="/static/img/user/default.png"
        alt="user_profile_image"
        style="
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        "
      />
      {{else}}
      <img
        src="/static/img/user/user{{.Id}}/{{.ImagePath}}"
        alt="user_profile_image"
        style="
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        "
      />
      {{end}}
      <p>プロフィールを編集する</p>
    </a>
  </p>
</div>

<h3 class="text-center">{{.Name}}さんの投稿</h3>
{{range .Posts}}
<div class="card mx-auto mb-5" style="width: 55%">
  <a href="/post/show?id={{.Uuid}}">
    <svg
      class="bd-placeholder-img card-img-top"
      width="100%"
      height="280"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
      role="img"
      aria-label="Placeholder: Image cap"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96" />
      <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    <div class="card-body">
      {{if .Title}}
      <h5 class="card-title">{{.Title}}</h5>
      {{else}}
      <h5 class="card-title">NO TITLE</h5>
      {{end}} {{if .Body}}
      <p class="card-text index-post-body">{{.Body}}</p>
      {{else}}
      <p class="card-text">本文がありません。</p>
      {{end}}
    </div>
    <div class="card-body">
      <a href="#">{{.UserName}}</a>
      <p>{{.CreatedAt}}</p>
    </div>
  </a>
</div>
{{end}} {{end}}
