{{define "chats"}} {{if .MembershipValid}} {{range .Chats}}
<div class="card mb-3">
  <div class="card-body">
    <a href="/user?id={{.UserIdStr}}">
      {{if eq .UserImagePath "default.png"}}
      <img
        src="/static/img/{{.UserImagePath}}"
        style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%"
        alt="default thumbnail"
      />
      {{else}}
      <img
        src="/static/img/user{{.UserID}}/{{.UserImagePath}}"
        style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%"
        alt="customized user image"
      />
      {{end}} {{.UserIdStr}}</a
    >
    <p>{{.Body}}</p>
    <a
      class="btn btn-outline-danger"
      href="/chat/delete?id={{.ID}}&ownerid={{.CircleOwnerIDStr}}"
      >削除</a
    >
  </div>
</div>
{{end}} {{else}}
<a
  class="btn btn-outline-success"
  href="/circle/membership/create?id={{.Circle.OwnerIDStr}}"
  >このサークルのメンバーになる</a
>
{{end}} {{end}}
