{{define "content"}}
<div class="bg-white">
  <h3 style="text-align: center">{{.Circle.Name}}</h3>
  <div class="cp_box">
    <input id="cp01" type="checkbox" />
    <label for="cp01"></label>
    <div class="cp_container">
      <p style="white-space: pre-wrap; word-wrap: break-word">
        {{.Circle.Overview}}
      </p>
    </div>
  </div>
</div>
{{$myUserID := .MyUser.Id}} {{$OwnerID := .User.Id}} {{if .MembershipValid}}
{{template "circle-navbar" .}} {{if eq $myUserID $OwnerID}}
<a class="btn btn-outline-success" href="/circle/manage">ブース管理へ</a>
<br />
<br />
{{else}}
<a
  class="btn btn-outline-danger"
  href="/circle/membership/delete?id={{.Circle.OwnerIDStr}}"
  >このブースから退出する</a
>
<br /><br />
{{end}} {{end}} {{end}}
