{{define "header"}}
<div>
  <h2 class="text-center">{{.User.Name}}</h2>
  <p>
    {{if eq .User.ImagePath "default.png"}}
    <img
      src="/static/img/default.png"
      alt="user_profile_image"
      style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
    />
    {{else}}
    <img
      src="/static/img/user{{.User.Id}}/{{.User.ImagePath}}"
      alt="user_profile_image"
      style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
    />
    {{end}}
  </p>
</div>

<nav class="navbar navbar-expand navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user?id={{.User.UserIdStr}}">ホーム</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/circle?id={{.User.UserIdStr}}">サークル</a>
      </li>
    </ul>
  </div>
</nav>
{{end}}
