{{define "content"}}
<div class="bg-white">
  <h3 style="text-align: center">{{.Circle.Name}}</h3>
  <p style="word-wrap: break-all">{{.Circle.Overview}}</p>
</div>
{{$myUserID := .MyUser.Id}} {{$OwnerID := .User.Id}} {{if .MembershipValid}}
{{template "circle-navbar" .}} {{if eq $myUserID $OwnerID}}
<a class="btn btn-outline-success" href="/circle/manage">サークル管理へ</a>
<br />
<br />
{{else}}
<a
  class="btn btn-outline-danger"
  href="/circle/membership/delete?id={{.Circle.OwnerIDStr}}"
  >このサークルを退会する</a
>
<br /><br />
{{end}} {{end}} {{end}}
