{{define "content"}}
<div class="bg-white">
  <h3 style="text-align: center">{{.Circle.Name}}</h3>
  <p style="white-space: pre; width: 200px; word-wrap: break-all">
    {{.Circle.Overview}}
  </p>
</div>
{{if .MembershipValid}}
<a
  class="btn btn-outline-danger"
  href="/circle/membership/delete?id={{.Circle.OwnerIDStr}}"
  >このサークルを退会する</a
>
<form action="/chat/create?id={{.Circle.OwnerIDStr}}" method="post">
  <div>
    <textarea
      type="text"
      name="body"
      class="form-control auto-resize"
      style="line-height: 16px; white-space: prewrap; border: none"
      rows="5"
      placeholder="今日のサークルでの出来事ををWeCircleに書いてみませんか？"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-outline-success">投稿</button>
</form>
{{end}} {{ template "chats" .}} {{end}}
