{{define "content"}}
<div class="mx-auto">
  <div>
    <a
      href="/post/edit/thumbnail?id={{.Post.Uuid}}"
      style="text-decoration: none"
      ><p class="btn btn-outline-info btn-block">サムネイルを選択する</p>
    </a>
  </div>

  <form
    action="/post/update?id={{.Post.Uuid}}"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="image">サムネイル変更</label><br />
      <div>
        <small class="form-text text-muted">現在のサムネイル</small>
        {{if eq .Post.ThumbnailPath "default_thumbnail.jpg"}}
        <img
          src="/static/img/{{.Post.ThumbnailPath}}"
          alt="user_profile_image"
          style="width: 300px; height: 200px; object-fit: cover"
        />
        {{else}}
        <img
          src="/static/img/user{{.Post.UserId}}/posts/post{{.Post.Id}}/{{.Post.ThumbnailPath}}"
          alt="user_profile_image"
          style="width: 300px; height: 200px; object-fit: cover"
        />
        {{end}}

        <p>
          <small class="form-text text-muted">新しいサムネイル</small>
          <img
            id="preview"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            style="width: 300px; height: 200px; object-fit: cover"
          />
        </p>
      </div>
      <input
        type="file"
        name="image"
        onChange="previewImage(this);"
        accept="image/*"
      />
    </div>

    <h1>
      <input
        type="text"
        name="title"
        value="{{.Post.Title}}"
        class="form-control font-weight-bold"
        style="font-size: 30px"
      />
    </h1>
    <a>{{.Post.UserName}}</a>
    <p>{{.Post.CreatedAt}}</p>
    <p>
      <textarea
        type="text"
        name="body"
        class="form-control auto-resize"
        style="line-height: 16px; white-space: prewrap"
        rows="50"
      >
{{.Post.Body}}</textarea
      >
    </p>
    <button type="submit" class="btn btn-outline-success btn-block">
      更新する
    </button>
  </form>
  <a
    href="javascript:history.back();"
    class="btn btn-outline-secondary btn-block mt-3"
    >戻る</a
  >
</div>
{{end}}
