{{define "content"}}
<div class="mx-auto">
  <div>
    <a
      href="/post/edit/thumbnail?id={{.Post.Uuid}}"
      style="text-decoration: none"
      ><p class="btn btn-outline-info btn-block">サムネイルを選択する</p>
    </a>
  </div>

  <form action="/post/update" method="post">
    <h1>
      <input
        type="text"
        name="title"
        value="{{.Post.Title}}"
        class="form-control font-weight-bold"
        style="font-size: 30px"
      />
    </h1>
    <a>{{.Post.UserName}}</a>
    <p>{{.Post.CreatedAt}}</p>
    <p>
      <textarea
        type="text"
        name="body"
        class="form-control auto-resize"
        style="line-height: 16px; white-space: prewrap"
        rows="50"
      >
{{.Post.Body}}</textarea
      >
    </p>
    <button type="submit" class="btn btn-outline-success btn-block">
      更新する
    </button>
    <input type="hidden" name="uuid" value="{{.Post.Uuid}}" />
  </form>
  <a
    href="javascript:history.back();"
    class="btn btn-outline-secondary btn-block mt-3"
    >戻る</a
  >
</div>
{{end}}
