{{define "posts"}}
<div style="display: flex">
  <div class="container" style="width: 60%">
    {{if .Posts}} {{range .Posts}}
    <div class="card mb-3">
      <div class="card-body">
        <a href="/user?id={{.UserIdStr}}">
          {{if eq .UserImagePath "default.png"}}
          <img
            src="/static/img/{{.UserImagePath}}"
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
            "
            alt="default thumbnail"
          />
          {{else}}
          <img
            src="/static/img/user{{.UserId}}/{{.UserImagePath}}"
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
            "
            alt="customized user image"
          />
          {{end}} {{.UserIdStr}}</a
        >
        <p>{{.CreatedAt}}</p>
      </div>
      <a href="/post?id={{.Uuid}}">
        {{if eq .ThumbnailPath "default_thumbnail.jpg"}}
        <img
          src="/static/img/default_thumbnail.jpg"
          style="width: 100%; height: 250px; object-fit: cover"
          alt="default thumbnail"
        />
        {{else}}
        <img
          src="/static/img/user{{.UserId}}/posts/post{{.Uuid}}/{{.ThumbnailPath}}"
          style="width: 100%; height: 250px; object-fit: cover"
          alt="customized thumbnail"
        />
        {{end}}</a
      >
      {{if .Title}}
      <div class="card-body">
        <h5
          class="card-title ellipsis"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
        >
          {{.Title}}{{else}}NO TITLE {{end}}
        </h5>
        {{if .Body}}
        <div style="overflow: hidden">
          <p
            class="card-text index-post-body"
            style="
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            "
          >
            {{.Body}}
          </p>
        </div>
        <br /><br /><br />
        <p><a href="/post?id={{.Uuid}}">もっとみる</a></p>
        {{else}}
        <p class="card-text">本文がありません。</p>
        {{end}}
      </div>
    </div>
    {{end}} {{else}}
    <p class="text-center">まだ投稿がありません。</p>
    <a href="/post/new" style="text-decoration: none"
      ><button type="submit" class="btn btn-outline-success btn-block">
        初めての投稿をしましょう！
      </button></a
    >
    {{end}}
  </div>

  <div class="container" style="width: 30%">
    <div class="card">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="180"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        role="img"
        aria-label="Placeholder: Image cap"
      >
        <title>Placeholder</title>
        <rect fill="#868e96" width="100%" height="100%" />
        <text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text>
      </svg>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{{end}}
