{{define "content"}}
<form
  role="form"
  action="/post/update/thumbnail"
  method="post"
  enctype="multipart/form-data"
>
  <input type="hidden" name="uuid" value="{{.Uuid}}" />
  <div class="form-group">
    <label for="image">サムネイル変更</label><br />
    <div>
      <p>現在のサムネイル</p>
      {{if eq .ThumbnailPath "default_thumbnail.jpg"}}
      <!-- if user.ImagePath=="default.png" -->
      <img
        src="/static/img/{{.ThumbnailPath}}"
        alt="user_profile_image"
        style="width: 300px; height: 200px; object-fit: cover"
      />
      {{else}}
      <img
        src="/static/img/user{{.UserId}}/posts/post{{.Id}}/{{.ThumbnailPath}}"
        alt="user_profile_image"
        style="width: 300px; height: 200px; object-fit: cover"
      />
      {{end}}
      <br /><br /><br />
      <p>
        新しいサムネイルを選択するとこの下にプレビュー表示されます。<br />
        <img
          id="preview"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="width: 300px; height: 200px; object-fit: cover"
        />
      </p>
    </div>
    <input
      type="file"
      name="image"
      multiple="multiple"
      onChange="previewImage(this);"
      accept="image/*"
      required
    />
  </div>
  <button type="submit" class="btn btn-success" style="width: 100%">
    サムネイルを変更する
  </button>
</form>
<a
  href="javascript:history.back();"
  class="btn btn-outline-secondary btn-block mt-3"
  >戻る</a
>
{{end}}
