{{define "content"}}
<form
  role="form"
  action="/user/update/image"
  method="post"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="image">プロフィール画像</label><br />
    <div>
      <small class="form-text text-muted">現在のプロフィール画像</small>
      {{if eq .ImagePath "default.png"}}
      <!-- if user.ImagePath=="default.png" -->
      <img
        src="/static/img/default.png"
        alt="user_profile_image"
        style="
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        "
      />
      {{else}}
      <img
        src="/static/img/user{{.Id}}/{{.ImagePath}}"
        alt="user_profile_image"
        style="
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        "
      />
      {{end}}
      <p>
        <small class="form-text text-muted">新しいプロフィール画像</small>
        <img
          id="preview"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          "
        />
      </p>
    </div>
    <input
      type="file"
      name="image"
      multiple="multiple"
      onChange="previewImage(this);"
      accept="image/*"
      required
    />
  </div>
  <input
    type="submit"
    class="btn btn-success"
    style="width: 100%"
    value="更新"
  />
</form>
<a
  href="javascript:history.back();"
  class="btn btn-outline-secondary btn-block mt-3"
  >戻る</a
>

{{end}}
