{{define "content"}}
<form action="/user/update" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <div style="display: block; height: 200px">
      <div>
        {{if eq .MyUser.ImagePath "default.png"}}
        <img
          src="{{.ImagePathPrefix}}/img/default.png"
          alt="user_profile_image"
          style="
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          "
        />
        {{else}}
        <img
          src="{{.ImagePathPrefix}}/img/user{{.MyUser.Id}}/{{.MyUser.ImagePath}}"
          alt="user_profile_image"
          style="
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          "
        />
        {{end}}
      </div>
      <div style="position: relative; bottom: 200px">
        <img
          id="preview"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          style="
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
          "
        />
      </div>
      <div style="position: relative; bottom: 400px">
        <label for="image">
          <i
            class="fas fa-camera fa-4x"
            style="
              width: 200px;
              height: 200px;
              border-radius: 50%;
              background-color: white;
              opacity: 0.4;
              text-align: center;
              vertical-align: middle;
              display: table-cell;
              color: black;
            "
          ></i>
          <input
            style="display: none"
            id="image"
            type="file"
            name="image"
            onChange="previewImage(this);"
            accept="image/*"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="name">ユーザー名</label>
    <input
      type="text"
      name="name"
      class="form-control"
      value="{{.MyUser.Name}}"
      required
    />
  </div>

  <div class="form-group">
    <label for="user_id_str">ユーザーID</label>
    <input
      type="text"
      name="user_id_str"
      class="form-control"
      value="{{.MyUser.UserIdStr}}"
      required
    />
  </div>

  <button type="submit" class="btn btn-outline-success btn-block">更新</button>
</form>
<a
  href="javascript:history.back();"
  class="btn btn-outline-secondary btn-block mt-3"
  >戻る</a
>
<a href="/user/delete/confirm">退会お手続きはこちら</a>
{{end}}
