{{define "content"}}
<h2>退会手続き</h2>

<div class="text-center">
  {{if eq .MyUser.ImagePath "default.png"}}
  <img
    src="/static/img/default.png"
    alt="user_profile_image"
    style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
  />
  {{else}}
  <img
    src="{{.ImagePathPrefix}}/img/user{{.MyUser.Id}}/{{.MyUser.ImagePath}}"
    alt="user_profile_image"
    style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
  />
  {{end}}
</div>

<form role="form" action="/user/delete" method="post">
  <div class="form-group">
    <label for="password"
      >退会するにはパスワードを入力してください。<span
        class="text-danger small"
      >
        必須</span
      ></label
    >
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="パスワード"
      required
    />
    <p id="emailHelp" style="color: red">
      ※退会すると{{.MyUser.Name}}さんのデータはすべて削除されます。
    </p>
  </div>
  <a
    href="/user?id={{.MyUser.UserIdStr}}"
    class="btn btn-outline-secondary btn-block mt-3"
    >退会しない</a
  >
  {{if eq .MyUser.Id 1}}
  <a href="/user/delete" class="btn btn-outline-danger btn-block mt-3">
    退会する
  </a>
  <p style="font-size: 10px; color: gray">
    ※ポートフォリオ閲覧用ユーザーのため正しいパスワードを入力しても退会できません。
  </p>
  {{else}}
  <button
    type="submit"
    href="/user/delete"
    class="btn btn-outline-danger btn-block mt-3"
  >
    退会する
  </button>
  {{end}}
</form>
{{end}}
