{{define "content"}}
<div style="position: absolute; top: 13px; right: 100px">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{if eq .ImagePath "default.png"}}
    <img
      src="/static/img/default.png"
      alt="user_profile_image"
      style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover"
    />
    {{else}}
    <img
      src="/static/img/user{{.Id}}/{{.ImagePath}}"
      alt="user_profile_image"
      style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover"
    />
    {{end}}
  </a>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/mypage">{{.Name}}</a>
    <a class="dropdown-item" href="/posts">記事</a>
    <a class="dropdown-item" href="/circle?id={{.UserIdStr}}">サークル</a>
    <a class="dropdown-item" href="/user/edit">プロフィール設定</a>
    <a class="dropdown-item" href="/logout">ログアウト</a>
  </div>
</div>

<a href="/user/edit/image">
  {{if eq .ImagePath "default.png"}}
  <!-- if user.ImagePath=="default.png" -->
  <img
    src="/static/img/default.png"
    alt="user_profile_image"
    style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
  />
  {{else}}
  <img
    src="/static/img/user{{.Id}}/{{.ImagePath}}"
    alt="user_profile_image"
    style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover"
  />
  {{end}}
  <p>プロフィール画像を変更する</p>
</a>
<form action="/user/update" method="post">
  <div class="form-group">
    <label for="name">ユーザー名</label>
    <input
      type="text"
      name="name"
      class="form-control"
      value="{{.Name}}"
      required
    />
  </div>
  <div class="form-group">
    <label for="user_id_str">ユーザーID</label>
    <input
      type="text"
      name="user_id_str"
      class="form-control"
      value="{{.UserIdStr}}"
      required
    />
  </div>
  <button type="submit" class="btn btn-outline-success btn-block">更新</button>
</form>
<a
  href="javascript:history.back();"
  class="btn btn-outline-secondary btn-block mt-3"
  >戻る</a
>
<a href="/user/delete/confirm">退会お手続きはこちら</a>
{{end}}
