{{define "content"}}
<form role="form" action="/user/update" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="image">プロフィール画像</label><br />
    {{if .ImgPass}}
    <div>
      <p>現在のプロフィール画像</p>
      <img src="/static/img/user/{{.ImgPass}}" alt="" style="max-width: 200px; max-height: 200px;">
      <p>
        新しいプロフィール画像<br>
        <img id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="max-width:200px; max-height: 200px;">
        </p>
    </div>
    {{else}}
    <div>
      <p>現在のプロフィール画像</p>
      <img src="/static/img/user/default_profile.jpeg" alt="">
      <p>
        新しいプロフィール画像<br>
        <img id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="max-width:200px; max-height: 200px;">
        </p>
    </div>
    {{end}}



    <input type="file" name="image" multiple="multiple" onChange="previewImage(this);" />
  </div>
  <div class="form-group">
    <label for="name">ユーザー名</label>
    <input
      type="text"
      name="name"
      class="form-control"
      value="{{.Name}}"
      required
    />
  <input type="submit" class="btn btn-primary" style="width:100%" value="更新">
</form>

{{end}}
